<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer class="sticky-footer border-top border-light-gray gray h6">
    <div class="sm-col px2"> ©2021 Deepak Gopalan </div>
    <div class="sm-col px2 pull-right">
        <a href="https://github.com/deepakgopalanneu" target="_blank" class=" gray hint--top" ><i class ="fa fa-fw fa-lg fa-github"></i></a>
        <a href="https://www.linkedin.com/in/deepak-gopalan-neu/" target="_blank" class="gray hint--top"><i class ="fa fa-fw fa-lg fa-linkedin"></i></a>
    </div>
</footer>
