<style>
    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
</style>
<nav class="navbar navbar-expand-lg navbar-custom navbar-inverse bg-white navbar-inner border-bottom fixed-top">
    <div class="container">
        <!-- navbar-collapse collaps -->
        <div >
            <a href="https://www.deepakgopalan.me" class="navbar-brand titlefont" >DG</a>
        </div>
    <div class=" nav-content navbar-center middle"> 
        <ul class="nav navbar-nav " routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="resume">RESUME</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">ABOUT</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="contactme">CONTACT</a></li>
        </ul>
    </div>
        

        <div class="">
        <ul class=" nav navbar-nav " >
            <li class="nav-item"><a class="nav-link" target="_blank" href="https://github.com/deepakgopalanneu">GitHub</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.linkedin.com/in/deepak-gopalan-neu/">LinkedIn</a></li>
        </ul>
        </div>
    </div>
        
</nav>

