@import '~bootstrap/dist/css/bootstrap.css';

.navbar-custom{
  background-image: linear-gradient(180deg,#13547a 5%, #80d0c7 100%);
}
.titlefont{
  font-size: x-large;
  font-weight: bolder;
  background: rgb(255, 255, 255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul li a {
  font-size: medium;
  color: rgb(255, 255, 255);
}

